body {
  margin: 0;
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tangerine', cursive;
font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(254, 253, 252);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
