.navbar-list li a.about-me {
    font-size: 20px;
  }

  .navbar-list li a.home {
    font-size: 20px;
  }
  
  .navbar-list li a.resume {
    font-size: 20px;
  }

  ul.navbar-list li {
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
  }
  
  ul.navbar-list li a {
    text-decoration: none;
    color: inherit;
  }

  .navbar-list li a:hover {
    color: white;
  }

  .navbar-list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    .navbar-list {
      flex-direction: row;
    }
  
    .navbar-list li {
      margin-bottom: 10px;
    }
  
    .navbar-list li a {
      font-size: 16px;
    }
  }